@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap');

:root {
  /*font- varients*/
  /* Large Devices */
  --H1: 800 45px/80px 'Poppins', sans-serif;
  --H2: 800 35px/64px 'Poppins', sans-serif;
  --H3: 800 28px/48px 'Poppins', sans-serif;
  --H4: 600 22px/32px 'Poppins', sans-serif;
  --text-base: 400 18px/24px 'Roboto', sans-serif;

  /* tablet device */
  --H1-lg: 800 38px/62px 'Poppins', sans-serif;
  --H2-lg: 800 32px/56px 'Poppins', sans-serif;
  --H3-lg: 800 26px/44px 'Poppins', sans-serif;
  --H4-lg: 600 20px/30px 'Poppins', sans-serif;
  --text-base-lg: 400 16px/24px 'Roboto', sans-serif;

  /* small device */
  --H1-sm: 800 27px/44px 'Poppins', sans-serif;
  --H2-sm: 800 38px/50px 'Poppins', sans-serif;
  --H3-sm: 800 30px/38px 'Poppins',
    sans-serif;
  --H4-sm: 600 28px/38px 'Poppins', sans-serif;
  --H5-sm: 500 18px/24px 'Poppins',
    sans-serif;
  --H6-sm: 500 18px/29px 'Poppins', sans-serif;
  --text-base-sm: 400 16px/24px 'Roboto', sans-serif;
}

h1 {
  font: var(--H1);
}

h2 {
  font: var(--H2);
}

h3 {
  font: var(--H3);
}

h4 {
  font: var(--H4);
}

h5 {
  font: var(--H5);
}

h6 {
  font: var(--H6);
}

p {
  font: 400 18px/24px 'Lexend', sans-serif;
}

.lexend {
  font: 400 16px/24px 'Lexend', sans-serif;
}

a,
li,
span,
input,
button,
textarea {
  font: var(--text-base);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

a.button,
button {
  padding: 0.8rem 2rem;
  border-radius: 10px;
}

@media screen and (max-width: 1080px) {
  h1 {
    font: var(--H1-lg);
  }

  h2 {
    font: var(--H2-lg);
  }

  h3 {
    font: var(--H3-lg);
  }

  h4 {
    font: var(--H4-lg);
  }

  h5 {
    font: var(--H5-lg);
  }

  h6 {
    font: var(--H6-lg);
  }

  a,
  p,
  p li,
  span,
  input,
  button,
  textarea {
    font: var(--text-base-lg);
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font: var(--H1-sm);
  }

  h2 {
    font: var(--H2-sm);
  }

  h3 {
    font: var(--H3-sm);
  }

  h4 {
    font: var(--H4-sm);
  }

  h5 {
    font: var(--H5-sm);
  }

  h6 {
    font: var(--H6-sm);
  }

  a,
  p,
  p li,
  span,
  input,
  button,
  textarea {
    font: var(--text-base-sm);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
}

.animated-bg {
  background: url(../public/loginbg.svg) no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  display: block;
  background-position: 100% 100%;
}

.glass-effect {
  background: rgba(255, 255, 255, 0.116);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.116);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
}
.glass-effect2{
  background: rgba(36, 27, 27, 0.158);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #eeee;
}
.scrollbar::-webkit-scrollbar {
  border-radius: 12px;
  width: 0px;
  background-color: #eeee;
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
  background-color: #555;
}